body{
	margin: 50px;
}

input[type=text] {
	border: 2px solid;
	width: 40%;
	border-radius: 5px;
	padding: 5px;
	font-size: 30px;
}



.subtask_sizer, #subtask_set {
	transition: 0.3s;
	width: 100%;
}


.subtask {
	border-color:808080;
	color:808080;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 30px;
}

.task {
	margin-bottom: 10px;
}



ul {
	list-style-type: none;
}

li {
	margin-bottom: 10px;
}

#addTask {

  	color: #555;
  	text-align: center;
	font-size: 50px;
	

}




.addTask:hover {
  color: #bbb;
}

#addSubTask {
	text-align: center;
	font-size: 25px;
	margin-left: 350px;
	color: #555;
	background-color: D3D3D3;
	transition: 0.3s;
	padding: 10px;

}

#addSubTask:hover {
	color: #bbb;
	background-color: 808080;
}

.mytasks {

	margin-bottom: 20px;
	font-size: 30px;

}