body{
    background-color: #D7F5E0;
    margin: 50px;
    font-size: large;
}

ul {
    background: #93E5AB;
    padding: 20px;
}

ul li {
    margin: 5px;
}

input {
	border: 2px solid;
	width: 40%;
	border-radius: 5px;
	padding: 5px;
	font-size: 30px;
}



.subtask_sizer, #subtask_set {
	-webkit-transition: all 0.5s ease-in-out;
	width: 100%;
}


.subtask {
	border-color:#93E5AB;
	color:808080;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 30px;
}

.task {
	margin-bottom: 10px;
}



ul {
	list-style-type: none;
}

li {
	margin-bottom: 15px;
	border: #000 solid 1px;
	
}

#addTask {

  	color: #555;
  	text-align: center;
	font-size: 50px;


}




.addTask:hover {
  color: #bbb;
}

#addSubTask {
	text-align: center;
	font-size: 25px;
	margin-left: 350px;
	color: #555;
	background-color: D3D3D3;
	transition: 0.3s;
	padding: 10px;

}

#addSubTask:hover {
	color: #bbb;
	background-color: 808080;
}

.mytasks {

	margin-bottom: 20px;
	font-size: 30px;

}

/*from https://www.w3schools.com/howto/howto_js_todolist.asp*/
/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #65B891;
    color: #fff;
    text-decoration: line-through;
}
